## Back-end api .gitignore
api/env/
api/__pycache__/
api/app/__pycache__
api/app/protocols/__pycache__
*.pyc
api/dump/
api/dist/
.idea/
.DS_STORE
.cache

## Front-end App .gitignore
# dependencies
node_modules/

# testing
app/coverage

# production
app/build

# misc
.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## vim .gitignore
*.swp
*.swo
