#backend
/backend/target
/backend/target/*
/biglazy-react/build/
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/biglazy-react/node_modules

# testing
/biglazy-react/coverage

# production
/biglazy-react/build

# misc
/biglazy-react/.DS_Store
/biglazy-react/.env.local
/biglazy-react/.env.development.local
/biglazy-react/.env.test.local
/biglazy-react/.env.production.local

/biglazy-react/npm-debug.log*
/biglazy-react/yarn-debug.log*
/biglazy-react/yarn-error.log*



