
.left-elements {
    padding: 5px;
    text-align: center;
}

.etiquette-patient {
    text-align: center;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    padding: 40px;
}

.right-elements {
    margin-bottom: 160px;
    padding-right: 200px;
}

.left-elements {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.evaluation {
    font-weight: bold;
    background-color: #B1ECB5;
    color: #0A6640;
}

.print-button {
    float: right;
}