.Preview {
    width: 80%;
}

.firstLine {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.firstLine > .protocolName {
    align-self: flex-start;
}

.firstLine > .dayOneEquals {
    align-self: flex-end;
}

.delivered {
    display: inline-block;
    padding: auto;
    text-align: center;
    min-width: 30px;
    padding-top: 5px;
    height: 30px;
    border-radius: 4px;
    font-weight: bold;
    background-color: #B3CFFF;
    color: #1F4B99;
    margin: 3px;
}
.notDelivered {
    display: inline-block;
    padding: auto;
    color: rgba(0, 0, 0 ,0);
    border: 1px solid grey;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin:6px;
}
.productLine {
    padding: 5px 0px 0px 5px;
}

.dayOneEquals {
    display: inline-block;
    border-radius: 4px;
    background-color: #B3CFFF;
    font-weight: bold;
    color: #1F4B99;
    font-size: 14pt;
    text-align: center;
    padding-top: 5px;
    padding: 10px;
}

.evaluationBox {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 4px;
    padding: 10px;
}

.flexLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.evaluationContent {
    margin-left: 20px;
}

.evaluation {
    padding-top: 5px;
    margin-right: 1000px;
    padding: 9px;
    margin: 5px;
    height: 40px;
    width: 15%;
    text-align: center;
    font-size: 12pt;
    border-radius: 4px;
}