.monoPageWrapper {
    background-color: #43425d;
    height: 100%;
    text-align: center;
}
.login {
    margin: 40px;
    text-align: left;
    display: inline-block;
    background-color: white;
    width: 360px;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 10px;
    vertical-align: middle;

}

.center-title {
    text-align: center;
    margin-bottom: 30px;
}

.description {
    vertical-align: middle;
    text-align: left;
    margin: 40px;
    display: inline-block;
    background-color: white;
    width: 360px;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 10px;
}