
.App {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.Topbar {
  width: 100%;
  margin-top: 0;
  padding: auto;
  height: 60px;
  background-color: #222;
}
h1.main-title {
  color: white;
}
.Sidebar {
  margin: 10px;
  padding: 5px;
  height: 100%;
  border: 1px solid black;
  flex-shrink: 0;
  max-width: 300px;
}
.form-component {
  padding: 5px;
  margin: 10px;
  height: 100%;
  border: 1px solid black;
  flex-grow: 1;
}
